<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}%X{mcver} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GITHUB_ACTIONS" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.neoforged.snowblower" level="debug">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="net.neoforged.snowblower.github.GitHubActions" level="info" additivity="false">
        <appender-ref ref="GITHUB_ACTIONS"/>
    </logger>

    <logger name="org.eclipse.jgit" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>